/* login.component.css */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .login-form {
    width: 300px; /* Adjust width as needed */
  }
  