<div class="flex pb-4">
    <div class="flex-1 h-4rem font-bold text-center p-4 border-round">EDUEVE</div>
    <div class="flex-1 h-4rem font-bold text-center p-4 border-round mx-4">
      <div class="search p-mr-2">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="Search Event"
            style="width: 500px"
          />
        </span>
      </div>
    </div>
    <div class="flex-1 h-4rem font-bold text-center p-4 border-round">
        <a routerLink="/host-event">  <button
        pButton
        type="button"
        label="Host an Event"
        class="p-button p-button-rounded p-button-outlined p-mr-3"
        style="margin-right: 5px"
      ></button></a>
      <a routerLink="/">
      <button
        pButton
        type="button"
        label="Logout"
        class="p-button p-button-rounded p-button-primary"
      ></button></a>
    </div>
  </div>
<div class="grid h-screen ml-5" style="padding: 10px; margin: 10px;">
    <div class="col-12">
        <h1 class="text-black mb-6">Welcome Deepak</h1>
    </div>
    <div class="col-4">
        <div class="grid">
            <div class="col-12">
                <h3>Upcoming Events</h3>
                <div class="card flex justify-content-center">
                    <p-calendar  [inline]="true"></p-calendar>
                </div>
            </div>
        </div>


    </div>

    <!-- This is right side Column -->
    <div class="col-8">           
           <h2>Today</h2>
           <hr>
        <div class="card">
            <div class="grid grid-nogutter">
                <div class="col-12" *ngFor="let item of products; let first = first">
                    <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4" [ngClass]="{ 'border-top-1 surface-border': !first }">
                        <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="'../product-service.ts/' + item.image" [alt]="item.name" />
                        <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                                <div class="text-xl text-900">{{ item.name }}</div> 
                                <div class="text-base text-500">Hosted By: {{ item.hostedBy }}</div>                                                            
                                <div class="flex align-items-center gap-3">
                                    <span class="flex align-items-center gap-2">
                                        <i class="pi pi-check-circle"></i>
                                        <span class="text-base text-700">{{ item.attending }} Attending</span>
                                    </span>
                                    <span class="flex align-items-center gap-2">
                                        <i class="pi pi-calendar"></i>
                                        <span class="text-base text-700">{{ item.dateTime }}</span>
                                    </span>
                                    <span class="flex align-items-center gap-2">
                                        <i class="pi pi-eye"></i>
                                        <span class="text-base text-700">{{ item.mode }}</span>
                                    </span>
                                    <span class="flex align-items-center gap-2">
                                        <i class="pi pi-ticket"></i>
                                        <span class="text-base text-700">{{ item.ticket }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>