::ng-deep .p-card {
    /* Your custom styles for p-card */
    border: 1px solid #ccc;
    margin-bottom: 8px;
  }

  ::ng-deep .event-list .p-card {
    /* Your custom styles for p-card */
    border: none;
    box-shadow: none;
    margin-bottom: 8px;
    padding-top: 0px;

  }
  ::ng-deep .event-list .p-card-content {
    padding-top: 0px;

  }

  